@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

html {
  background-color: azure;
}

body {
  font-family: 'Kiwi Maru', sans-serif;
  font-weight: bold;
  padding: 40px;
  padding-bottom: 50px;
  box-sizing: border-box;
  margin: 0;
}

h1, p {
  text-align: center;
}

img {
  user-select: none;
  pointer-events: none;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
  max-width: 80%;
}

#description {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
}

li {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

li:hover {
  animation: enlarge 0.3s forwards;
}

a {
  text-decoration: none;
  color: #004777;
}

a:hover {
  color: #007acc;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  text-align: left;
  line-height: 50px;
}

footer a {
  margin: 20px;
}

footer a::after {
  content: ' >';
  font-size: 12px;
}
