@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

html {
  background-color: azure;
}

body {
  font-family: 'Kiwi Maru', sans-serif;
  font-weight: bold;
  padding: 5px 40px;
  padding-bottom: 70px;
  box-sizing: border-box;
  margin: 0;
}

h1, h2, p {
  text-align: center;
}

img {
  user-select: none;
  pointer-events: none;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
  max-width: 80%;
}

section {
  top: 20px;
}

#scrollButton {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;
}

#soundButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;
}

.copybutton {
  bottom: 0;
}

#description {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
}

button {
  font-family: 'Kiwi Maru', sans-serif;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
  animation: enlarge 0.3s forwards;
}

button:active {
  background-color: #007bff;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
  pointer-events: none;
}

.buttons {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
}

li {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

li:hover {
  animation: enlarge 0.3s forwards;
}

a {
  text-decoration: none;
  color: #004777;
}

a:hover {
  color: #007acc;
}

form {
  display: grid;
  margin: 0 auto;
  padding: 10px;
}

select {
  border-color: darkgrey;
  border-width: 3px;
  border-radius: 5px;
}

input {
  border-color: darkgrey;
  border-width: 3px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  border-color: darkgrey;
  border-width: 3px;
  border-radius: 5px;
}

#sitemap a {
  padding: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  text-align: left;
  line-height: 1.5;
  padding: 5px 10px;
}

footer a {
  margin: 5px 10px;
}

footer a::after {
  content: ' >';
  font-size: 12px;
}

footer p {
  font-size: 10px;
  margin: 5px 10px;
}

#notfound {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

#progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: white;
  width: 100%;
  transition: width linear;
}

/* Mobile */
@media (max-width: 800px) {
  #description {
    font-size: 12px;
  }
}
