input {
  font-size: 16px;
  height: 20px;
}

button {
  min-width: 75px;
  max-width: 175px;
}

form h2, div h2 {
  text-align: left;
}

.buttons {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
}

.form-group {
  padding-top: 20px;
}

.remove-button {
  max-width: auto;
  width: 125px;
  height: 25px;
  margin: 5px;
  padding: 5px;
}