#function h2 {
  font-size: 20px;
  margin: 2px;
}

#function p {
  font-size: 15px;
}

#function button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.game {
  text-align: center;
  background-color: whitesmoke;
  margin: 10px auto;
  padding: 5px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.game p {
  margin: 0;
}

.hand {
  font-size: 20px;
  font-weight: 1000;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.red {
  color: red;
}

.black {
  color: black;
}

.viewpoint {
  padding: 5px;
  width: 125px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: white;
  text-align: left;
}

.docs {
  display: none;
  background-color: whitesmoke;
  margin: 10px auto;
  padding: 10px;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.docs p {
  text-align: left;
}

.scoreboard {
  display: block;
  background-color: whitesmoke;
  margin: 10px auto;
  padding: 5px;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.scoreboard p {
  text-align: left;
  line-height: 0;
}

.scoreboard p span {
  float: right;
  padding-right: 20px;
}

/* Mobile */
@media (max-width: 800px) {
  .hand {
    font-size: 12px;
  }
}
